alabaster==1.0.0
annotated-types==0.7.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.10.0
asn1crypto==1.5.1
attrs==25.4.0
Authlib==1.6.5
babel==2.17.0
bcrypt==5.0.0
bleach==6.3.0
blinker==1.9.0
cachetools==6.2.1
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.4
check-wheel-contents==0.6.3
click==8.3.0
colorama==0.4.6
coverage==7.11.3
cryptography==46.0.3
cssbeautifier==1.15.4
distlib==0.4.0
djlint==1.36.4
dnspython==2.8.0
docutils==0.21.2
dotenv==0.9.9
EditorConfig==0.17.1
email-validator==2.3.0
execnet==2.1.1
filelock==3.20.0
Flask==3.1.2
flask-babel==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==3.1.1
Flask-SQLAlchemy-Lite==0.1.0
Flask-WTF==1.2.2
flit==3.12.0
flit_core==3.12.0
freezegun==1.5.5
greenlet==3.2.4
identify==2.6.15
idna==3.11
imagesize==1.4.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsbeautifier==1.15.4
json5==0.12.1
libpass==1.9.3
MarkupSafe==3.0.3
mongoengine==0.29.1
mongomock==4.3.0
msgcheck==4.1.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
Pallets-Sphinx-Themes==2.3.0
pathspec==0.12.1
peewee==3.18.3
phonenumberslite==9.0.18
platformdirs==4.5.0
pluggy==1.6.0
pony==0.7.19
pre_commit==4.4.0
psycopg2-binary==2.9.11
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pydocstyle==6.3.0
pyenchant==3.3.0
Pygments==2.19.2
pymongo==4.15.4
PyMySQL==1.1.2
pyOpenSSL==25.3.0
pyproject-api==1.10.0
pytest==9.0.0
pytest-cache==1.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
regex==2025.11.3
requests==2.32.5
roman-numerals-py==3.1.0
sentinels==1.1.1
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-issues==5.0.1
sphinx-notfound-page==1.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
tomli_w==1.2.0
tox==4.32.0
tqdm==4.67.1
types-requests==2.32.4.20250913
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.35.4
webauthn==2.7.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel-filename==1.4.2
WTForms==3.2.1
zxcvbn==4.5.0
